body{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin:0 7px;
    width:100%;
}

a{
    background-color: transparent;
    text-decoration: none;
    color:black
}

h1,h4{
    font-family: 'Shrikhand', cursive;
    text-align: left;
}

.container{
    max-width : 1440px;
    margin : 0 auto; 
}

/*en tête*/

header{
    display: flex;
    flex-direction: column;
}

.img_head{
   margin:20px 10px 0px 28px;
}

.head_img{
    margin-left:20%;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 4px; 
}

form, input {
    background-color: #f2f2f2;
    border:none;
    outline: none;
}

form{
    height: 368px;
    border-top: 1px solid darkgrey;
}

#location_form{
    border: none;
    border-top: 2px;
    margin-left: 5px;
    background-color: transparent;
    font-size: 15px; 
    font-weight: bold;  
    color:#000000;
}

#search{
    width: 110%;
    margin-left: -7px;
    margin-top: 5px;
}


.visually_hidden{
    position: absolute;
    left: -999px;
}

.search_text{
    font-size: 17px;
    text-align: center;
    padding: 12px 0px 12px 88px;
    background-color: rgba(210, 209, 209, 0.775);
}

.header_text{
    margin-top: 12%;
    padding: 10px;
    text-align: center;
}

.font_title{
    font-size: 22px;
    margin-left: 3%;
    margin-right: 5%;
    font-weight: bold;
}

.header_text p{
    font-size: 16px;
    margin-left: 3%;
    padding-right: 5px;
}

button{
    border: none;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 28px;
    width: 70%;
    height: 54px;
    box-shadow: 1px 1px 8px darkgrey;
    transition: filter 3s,box-shadow 4s;
}

button:hover{
    filter: brightness(1.75);
    box-shadow: 3px 3px 10px black;
}

.search_phone{
    color: white;
    margin-left: 57px;
    margin-top:5% ;
    cursor: pointer;
}

.search_phone b{
    font-size: 16px;
}

/*fonctionnement*/

#fonctionnement{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.liste_function{
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
}

.function{
    background-color: #f2f2f2;
    border:none;
    border-radius: 18px;
    height: 65px;
    width:85%;
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 10%;
    box-shadow: 4px 4px 15px darkgrey;
    transition: background-color 3s;
}

#function_3{
    background-color:#f5edff;
}

.order{
    display: flex;
    margin-left: 20px;
    margin-top: 22px ;  
}

.function_numbers{
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    padding:10px 16px 12px 16px;
    margin-bottom: 12px;
    margin-left: -13px;
    margin-top: 12px;
}

.function_text{
    padding-left: 24px;
    font-weight: bold;
    font-size: 17px;
}

aside i{
    color: grey;
    margin-top: 2px;
}

aside #function_3 i{
    color:#9356DC;
}

/*liste des restaurants*/

main{
    background-color: #f2f2f2;
    width: 110%;
    margin-left: -7px;
}


h2{
    margin-left: 20px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 22px;
}

#resto_display{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4px;
    margin-left: 2px;
}

.resto_card{
    width: 90%;
    height: 200px;
    margin-bottom: 25px;
    margin-left: 18px;
    padding-bottom: 27px;
    background-color: white;    
    border-radius: 17px;
    box-shadow: 4px 4px 6px #e6e6e6;
    position: relative;
}


.resto_img{
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
    z-index: 1;
}

.new{
    position: absolute;
    right: 18px;
    top:4px;
    color: rgb(5, 121, 84);
    background:#99E2D0;
    margin-top: 3%;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 16px;
    z-index: 2;
}

.card_text{
    padding-bottom: 0px;
    margin-left: 3%;
}

.card_text h3{
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 19px;
}

.card_text p{
    margin-top: 2px;
    font-size: 16px;
}

.favoris{
    position: relative;
    
}

.fa-heart{
    position: absolute;
    right:20px;
    bottom:33px;
    font-size: 28px ;
}

.fill_heart{
    display:none;
}

.fa-heart::before{ 
    transition: color 1s ease-out;
}

.fa-heart:active::before{
    font-weight: bold;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke:unset; 
}

/*pied de page*/

footer{
    background-color: rgba(33, 33, 33, 0.945);
    height: 230px;
    width: 110%;
    margin-left:-7px;
}

.foot_column{
    margin-left: 10px;
}
.foot_column a{
    color:white;
    font-size:16px;
} 

.foot_column li{
    margin-top: 3%;
}

.foot_column ul{
    list-style: none;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 25px;
}

.logo_footer{
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-top: 0px;
    margin-left: 28px;
    padding-top: 22px;
}

.foot_column i{
    font-size: 14px;
    margin-right: 9px;
}

/*media queries tablette*/

@media screen and (min-width: 768px){

body{
    width:91% ;
}

#search{
    width: 109%;
}

.search_phone{
    margin-left: 106px;
}

main{
    width: 109%;
}

.new{
    right: 79px;
}

footer{
    width: 109%;
}
}


/*media queries ordinateur*/

@media screen and (min-width: 992px) {

body{
    width: 93%;
}

#search{
    width: 107%;
}

#logo_t{
    margin-top: 6%;
    margin-left: 10%;
} 

#search.container{
    margin-top: 7%;
}

.header_text{
    margin-top: 6%;
}

.search_phone{
    margin-left: 143px;
}

button:hover{
    filter: brightness(1.75);
    box-shadow: 3px 3px 10px black;
}

aside {
    margin-top: 6%;
    margin-left: 20px;
}

#fonctionnement{
    width: 98%;
}

.function{
    margin-bottom: 8%;
}

main{
    width: 107%;
}

h2{
    padding-top: 35px;
    font-size: 25px;
}

.fa-heart:hover{
    font-weight: bold;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke:unset; 
}

.new{
    right:107px;
}

footer{
    width: 107%;
}

.logo_footer{
    font-size: 20px;
    margin-bottom: 2px;
}

}

/*loading spinner*/
/*nom du site*/
